.sign-in {
  width: 380px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0px;
  }

  .btn-group {
    display: flex;
    justify-content: space-between;
  }
}
