.header {
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    .option {
      padding: 0px 10px;
    }
  }
}
